@font-face {
    font-family: 'Bree Serif';
    src: url('/assets/fonts/BreeSerif-Regular.ttf');
}

@font-face {
    font-family: 'Frankfurter Std';
    src: url('/assets/fonts/FrankfurterStd.otf');
}

@font-face {
    font-family: 'Salisbury';
    src: url('/assets/fonts/SalisburyBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat.ttf');
}

html, body {
    height: 100%;
}

a:hover {
    filter: brightness(200%);
    text-decoration: underline;
}

:root {
    --our-black: #230d05;
}