@font-face {
    font-family: 'Bree Serif';
    src: url('/assets/fonts/BreeSerif-Regular.ttf');
}

@font-face {
    font-family: 'Frankfurter Std';
    src: url('/assets/fonts/FrankfurterStd.otf');
}

body {
    font-family: 'Bree Serif', 'Segoe UI', sans-serif;
    overflow-x: hidden;
}

.font-header {
    font-family: 'Frankfurter Std', 'Segoe UI', sans-serif;
}

.our-black {
    color: #230d05;
}